<div class="row">
    <div class="column">
        <div class="wow fadeIn">
            <div class="card border-0 shadow">
                <div class="text-center"><h1>Main Distillers</h1></div>
                <div class="card-body p-1-9 p-xl-5">
                    <% main_distillers.forEach(function(distiller, index) { %>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id=<%- distiller.id %> onclick="refreshAvailableCocktails();"/>
                        <label class="form-check-label" for=<%- distiller.id %>><%- distiller.name %></label>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    
    <div class="column">
        <div class="col-md-auto">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Liquers</button>
                <div id="myDropdown" class="dropdown-content">
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                    <% liqueur.forEach(function(liqueur, index) { %>
                        <label class="liqueur" id="<%- liqueur.id %>" onclick="selectLiquer(this.id, '<%- liqueur.name %>')"><%- liqueur.name %></label>
                <% }) %>
                </div>
            </div>
        </div>
        <ul class="ingredient_selection">
            <div id="show_liquer_selection"></div>
        </ul>   
    </div>
    
    <div class="column">
        <div class="wow fadeIn">
            <div class="card border-0 shadow">
                <div class="text-center"><h1>Available Cocktails</h1></div>
                <div class="card-body">
                    <div class="card shadow mb-4">
                        <div class="card-body p-4 mt-2 mb-2">
                            <div id="available_cocktails">
                                <ul>
                                    <script>
                                        
                                    </script>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<script src="/js/scripts.js"></script>



